backend/__pycache__
venv
backend/.env
backend/app/__pycache__
backend/app/models/__pycache__
backend/app/auth/__pycache__
﻿app/__pycache__
app/routers/__pycache__
venv/Scripts
venv
.env
alembic/__pycache__
alembic/versions/__pycache__
backend/app/api/routes/__pycache__
app/__pycache__
backend/app/middleware/__pycache__
backend/app/repositories/__pycache__
backend/app/services/__pycache__
